<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Moedas</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class='bg-gradient-to-r from-blue-500 to-green-700'>
    <style>
        input[type="number"]::-webkit-outer-spin-button, 
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <div id="app" class=''>
        <div class='flex justify-center items-center w-screen h-screen'>
            <div class='h-3/5 mx-1  md:h-1/2 md:w-1/2 bg-white p-10 rounded-xl shadow-lg'>
                <div class='h-1/4'>
                    <p class='text-5xl text-blue-500 text-center font-black'>CONVERSOR DE MOEDAS</p>
                </div>
                <div class='h-1/4'>
                    <input type='number' v-model='input' @keyup='convertValue' autofocus placeholder='Insira o valor a ser convertido:' 
                    class='placeholder-blue-900  text-center w-full text-lg md:text-2xl p-6 bg-blue-100 border-blue-900 rounded-sm 
                    focus:border-blue-600 focus:ring-2 focus:ring-blue-500 focus:outline-none' />
                </div>
                <div class='h-1/4 flex flex-column text-4xl'>
                    <div class='w-1/2 flex justify-center items-center'>
                        <label class='text-xl text-blue-500'>De: </label>
                        <select @change='convertValue' v-model='from'>
                            <option v-for='currency in currencyArray' :value='currency.id' v-text='currency.name' :disabled='currency.id == to'></option>
                        </select>
                    </div>
                    <div class='w-1/2 flex justify-center items-center'>
                        <label class='text-xl text-green-700'>Para: </label>
                        <select @change='convertValue' v-model='to'>
                            <option v-for='currency in currencyArray' :value='currency.id' v-text='currency.name' :disabled='currency.id == from'></option>
                        </select>
                    </div>
                </div>
                <div class='h-1/4 flex justify-center items-center text-center text-5xl'>
                    <h1 class='border-b-2 border-blue-400'><span class='text-xl'>{{ currencyArray[to].abbrev }}</span> {{ parseFloat(convertedValue).toFixed(2).replace('.', ',') }}</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const convertValue = (value, iof_value, fx_value, fx_rate) => {
            return (value - iof_value - fx_value) * fx_rate;
        }

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    message: 'Hello Vue!',
                    currencyArray: [
                        {
                            id: 0,
                            name: 'Dolar',
                            abbrev: 'USD',
                            toReal: 5.2164,
                        },
                        {
                            id: 1,
                            name: 'Euro',
                            abbrev: 'EUR',
                            toReal: 6.3970,
                            toDollar: 1.2206,
                        },
                        {
                            id: 2,
                            name: 'Real',
                            abbrev: 'BRL',
                            toDollar: 1.2206,
                        },
                    ],
                    input: '',
                    from: 0,
                    to: 1,
                    convertedValue: 0,
                    iof_value: 0.011,
                    fx_value: 0.010,
                }
            }, 
            methods: {
                convertValue: function() { 
                    let auxValue;
                    const { from, to, input, iof_value, fx_value, currencyArray } = this;
                    
                    if(input < 1) return this.convertedValue = 0;
                    if(from === to) return this.convertedValue = input;

                    if(from == 0) {
                        auxValue = to == 1 
                        ? 1 / currencyArray[1].toDollar 
                        : currencyArray[0].toReal ; 
                    } else if(from === 1) {
                        if(to == 0) auxValue = currencyArray[1].toDollar;
                        else if (to == 2) auxValue = currencyArray[1].toReal;
                    } else {
                        if(to == 0) auxValue = 1 / currencyArray[0].toReal;
                        else if(to == 1) auxValue = 1 / currencyArray[1].toReal;
                    }

                    return this.convertedValue = convertValue(input, iof_value * input , fx_value * input, auxValue);                    
                }
            }
        })
    </script>
</body>
</html>